*{
    margin: 0;
    font-family: arial;
    border:border-box;
}
 * { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Arial', sans-serif; }

        body { background-color: #eaeded; }

        /* Main Navbar */
        .navbar {
            height: 60px;
            background-color: #131921;
            display: flex;
            align-items: center;
            padding: 0 15px;
            color: white;
            gap: 10px;
        }

        /* Logo Area */
        .nav-logo{
         height : 50px;
         width : 100px;
        }
        .logo {
             background-image: url("amazon_logo.png");
             BACKGROUND-SIZE: cover;
             height: 50px;
             width: 100px;
        }
       
        .border {
            border: 2px solid transparent;
        }

        .border-hover:hover {
            border: 2px solid white;
        }
        
        /* Address Box */
        .nav-address {
            display: flex;
            flex-direction: column;
            padding: 5px 8px;
            cursor: pointer;
            border: 1px solid transparent;
        }
        .nav-address:hover { border: 1px solid white; }
        .address-top { font-size: 12px; color: #ccc; margin-left: 15px; }
        .address-bottom { font-size: 14px; font-weight: bold; }

        /* Search Bar */
        .nav-search {
            display: flex;
            flex: 1; /* Grows to fill available space */
            height: 40px;
            border-radius: 4px;
            overflow: hidden;
            margin: 0 10px;
        }
        .search-select {
            background-color: #f3f3f3;
            width: 50px;
            text-align: center;
            border: none;
            border-right: 1px solid #ccc;
            cursor: pointer;
        }
        .search-input {
            flex: 1;
            padding: 0 10px;
            font-size: 1rem;
            border: none;
            outline: none;
        }
        .search-icon {
            width: 45px;
            background-color: #febd69;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .search-icon:hover { background-color: #f3a847; }

        /* Right Side Links */
        .nav-right { display: flex; align-items: center; gap: 5px; }
        .nav-item {
            padding: 5px 8px;
            border: 1px solid transparent;
            cursor: pointer;
        }
        .nav-item:hover { border: 1px solid white; }
        .nav-item p { font-size: 12px; }
        .nav-item span { font-size: 14px; font-weight: bold; }

        /* Sub-Navbar (Second Row) */
        .sub-nav {
            height: 50px;
            background-color: #222f3d;
            display: flex;
            align-items: center;
            color: white;
            padding: 0 10px;
            font-size: 14px;
        }
        .sub-nav-links { display: flex; list-style: none; gap: 15px; align-items: center; }
        .sub-nav-links li { 
            padding: 8px; 
            border: 1px solid transparent; 
            cursor: pointer; 
        }
        .sub-nav-links li:hover { border: 1px solid white; }
        .menu-icon { font-weight: bold; display: flex; align-items: center; gap: 5px; }

.hero{
    background-image: url(af_men_2x_febubs._CB787886866_.jpg);
    height: 350px;
    background-size: cover;
    align-items: center;
    display:flex;
    justify-content: center;
    

    
}
.heromsg{
    background-color: white;
    height: 30px;
    text-align: center;
    width:90%;
    margin-top: 200px;
}
.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 480px;
    background-color: #e2e6e7;
    

}
.box{
    height: 400px;
    width: 300px;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}
.inbox4{
    display :flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.popular{
    height: 270px;
    background-color: white;
    display: flex;
    margin-left: 13px;
    margin-right: 13px;
    display: flex;
    
}
/* .image1{
    background-image: url(https://m.media-amazon.com/images/I/713ywROGUoL._AC_SY400_.jpg);
    height: 180px;
    width: 190px;
    background-size: cover;
    margin-left: 25px;
    margin-top: 70px;
    margin-right: 10px;
}
.image2{
    background-image: url(https://m.media-amazon.com/images/I/819RF051TpL._AC_SY400_.jpg);
    height: 180px;
    width: 190px;
    background-size: cover;
    margin-top: 70px;
    margin-right: 10px;
}
.image3{
  background-image: url(https://m.media-amazon.com/images/I/71c4gQT+73L._AC_SY400_.jpg);
    height: 180px;
    width: 190px;
    background-size: cover;
    margin-top: 70px;
    margin-right: 10px;  
}
.image4{
    background-image: url(https://m.media-amazon.com/images/I/81u9aGFhUCL._AC_SY400_.jpg);
    height: 190px;
    width: 185px;
    background-size: cover;
    margin-top: 70px;
    margin-right: 10px;
}
.image5{
    background-image: url(https://m.media-amazon.com/images/I/71hqekuLcRL._AC_SY400_.jpg);
    height: 190px;
    width: 185px;
    background-size: cover;
    margin-top: 70px;
    margin-right: 10px;
}
.image6{
   background-image: url(https://m.media-amazon.com/images/I/616LGWCVDHL._AC_SY400_.jpg);
    height: 190px;
    width: 185px;
    background-size: cover;
    margin-top: 70px;
    margin-right: 10px; 
} */

footer{
 margin-top: 20px;
}


.foot-panel1{
 background-color: #374758;
 color:white;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 0.85rem;
}


.foot-panel2{
 background-color: #222f3d;
 color:white;
 height: 300px;
 display: flex;
 justify-content: space-evenly;

}

ul {
 margin-top: 20px;
}

ul a {
 display: block;
 font-size: 0.85rem;
 margin-top: 10px;
 color: #dddddd;
}

.foot-panel3{
 background-color: #222f3d;
 color:white;
 border-top: 0.5px solid white;
 height: 68px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.logo{
  background-image : url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
  
}

.foot-panel4{
background-color: #0f1111;
color:white;
font-size: 0.7rem;
align-items: center;
text-align: center;
height: 80px;
}

.pages{
 padding-top: 25px;

}

.copyright{
padding-top: 5px;
}